PORT=8787

APP_BASE_URL=https://vania-worthwhile-ontogenetically.ngrok-free.dev
APP_CALLBACK_URL=aplusscore://oauth/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://vania-worthwhile-ontogenetically.ngrok-free.dev/auth/google/callback

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=https://vania-worthwhile-ontogenetically.ngrok-free.dev/auth/facebook/callback
FACEBOOK_GRAPH_VERSION=v25.0

TIKTOK_CLIENT_KEY=YOUR_TIKTOK_CLIENT_KEY
TIKTOK_CLIENT_SECRET=YOUR_TIKTOK_CLIENT_SECRET
TIKTOK_REDIRECT_URI=https://vania-worthwhile-ontogenetically.ngrok-free.dev/auth/tiktok/callback